@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  padding: 0 0 40px;
  background: #eee;
}

body.feed {
  background: hsl(0, 100%, 70%);
}



header {
  margin: 50px 0 60px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: #333;
  color: rgba(0,0,0,0.8);
}

header h1 {
  display: inline-block;
  margin: 0;
}

header h1 a {
  display: inline-block;
  width: 318px;
  height: 137px;
  text-indent: -9000px;
  overflow: hidden;
  direction: ltr;
  background: url(http://andrevvm.github.io/brimley/img/logo.png);
}

nav {
  font-weight: 800;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  font-size: 20px;
  font-size: 2.0rem;
  text-decoration: none;
  color: #5F5F5F;
  text-transform: uppercase;
  display: inline-block;
}

nav a.selected {
  color: #9B9B9B;
  color: rgba(0,0,0,0.35);
}

body.feed nav a {
  color: white;
}

body.feed nav a.selected {
  color: #fff;
  color: rgba(255,255,255,0.5);
}



article {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

article img {
  max-width: 580px;
  padding: 10px;
  border-radius: 2px;
  background: #fff;
}

article h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 800;
  margin-top: 0;
  letter-spacing: -0.04em;
}

article.text {
  font-size: 20px;
  font-size: 2.0rem;
  color: #000;
}

.video iframe {
  position: relative;
  left: -70px;
  border: 10px solid white;
  border-radius: 2px;
}

.caption {
  position: relative;
  margin: 0;
  padding: 1px 20px 10px;
  top: -5px;
  border-radius: 2px;
  background: #fff;
  font-size: 16px;
  line-height: 1.5em;
}

.meta {
  padding: 20px 0 30px;
  font-weight: 800;
  color: #000;
  color: rgba(0,0,0,0.3);
  font-size: 16px;
  font-size: 1.6rem;
}

.meta a {
  text-decoration: none;
  color: #000;
  color: rgba(0,0,0,0.3);
}

.notes {
  float: right;
}

/*=========================== Team Page */

.team-holder {
  width: 960px;
  margin: 0 auto;
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-list li {
  float: left;
  margin: 0px 10px 20px;
  position: relative;
}

.team-list li a  {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px 10px 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  color: white;
  background: #FB5757;
  opacity: 0;
  box-sizing: border-box;
}

.team-list li a:hover {
  opacity: 1;
}

.team-viewer {
  width: 940px;
  height: 980px;
  background: #FB5757;
  position: absolute;
  right: -940px;
  z-index: 100;
  -webkit-transition: right .3s;
}

.team-viewer.show {
  right: calc(50% - 470px);
}


/*=========================== Animations */

h1 a:hover {
  -webkit-animation-name: mustache;
  -webkit-animation-duration: .4s;
}

.v {
  position: relative;
  -webkit-animation-name: vertical;
  -webkit-animation-duration: .18s;
}

.v-alt {
  position: relative;
  -webkit-animation-name: vertical-alt;
  -webkit-animation-duration: .18s;
}


.a {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.pause .a {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes mustache {
  0% {
    -webkit-transform: rotate(0deg);
  }

  15% {
    -webkit-transform: rotate(4deg);
  }

  30% {
    -webkit-transform: rotate(-2deg);
  }

  75% {
    -webkit-transform: rotate(1deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes vertical {
  0% {
    top: 0;
  }

  25% {
    top: 0.09em;
  }

  75% {
    top: -0.09em;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes vertical-alt {
  0% {
    top: 0;
  }

  25% {
    top: -0.1em;
  }

  75% {
    top: 0.1em;
  }

  100% {
    top: 0;
  }
}
